#contenedor{


}
#cabecera{


height:200px
}
#contenido{
	
}

#marca{
	background-image: url("fondo22.jpg");
	 background-size: contain;
	 height:150px
}
#botonera{
	height:50px
}
#redes{
	 background-image: url("fondo7.jpg");

}

#caja2 p {
  padding: 3px 10px;
  border: black 5px solid;
  border-radius: 20px;
}


#texto_pie{
  background-image:url("fondo.jpg");
  background-size: contain;
  height:70px
}
#caja3 p {
  padding: 3px 10px;
  border: black 5px solid;
  border-radius: 20px;
}

