#cajjja3{
	background-image: url("../fondo.jpg");
	height:20px
}
#cabecera{


height:200px
}
#caja2{
	background-image: url("../fondo1.png");
	 border-radius: 10%;
}

#marca{
	background-image: url("../fondo22.jpg");
	 background-size: contain;
	 height:150px
}
#botonera{
	height:50px
}
#redes{
	 background-image: url("../fondo7.jpg");

}

#caja2 p {
  padding: 3px 10px;
  border: black 5px solid;
  border-radius: 20px;
}


#texto_pie{
  background-image: url("../fondo.jpg");
 
  background-size: contain;
  height:70px
}
#caja3 p {
  padding: 3px 10px;
  border: black 5px solid;
  border-radius: 20px;
}
.form{width:340px;
height:280px;
background:#e6e6e6;
border-radius:8px;
box-shadow:0 0 40px -10px #000;
margin:calc(50vh - 220px) auto;
padding:20px 30px;
max-width:calc(100vw - 40px);
box-sizing:border-box;
font-family:'Montserrat',sans-serif;
position:relative
}
h2
{
	margin:10px 0;
	padding-bottom:10px;
	width:180px;
	color:#78788c;
	border-bottom:3px solid #78788c
	}
input
{
	width:100%;
	padding:10px;
	box-sizing:border-box;
	background:none;
	outline:none;
	resize:none;
	border:0;
	font-family:'Montserrat',sans-serif;
	transition:all .3s;
	border-bottom:2px solid #bebed2
	}
input:focus
{
	border-bottom:2px solid #78788c
	}
p:before
{
	content:attr(type);
	display:block;
	margin:28px 0 0;
	font-size:14px;
	color:#5a5a5a
	}
button
{
	float:right;
	padding:8px 12px;
	margin:8px 0 0;
	font-family:'Montserrat',sans-serif;
	border:2px solid #78788c;
	background:0;
	color:#5a5a6e;
	cursor:pointer;
	transition:all .3s}
button:hover
{
	background:#78788c;
	color:#fff
	}

polyline#flecha1{
animation: arriba ease-in-out 3s infinite;

}
polyline#flecha2{
animation: medio ease-in-out 3s infinite;

}
polyline#flecha3{
animation: abajo ease-in-out 3s infinite;

}	
@keyframes arriba  {	
0% {
		
	 width:200px;
	 transform: translate(-50px,0);
	 opacity:0;
	}
50% {
	  transform: translate(0,0);
	 opacity:1;
	}	
75%{ 
  
     transform: translate(0,-50px);
	 opacity:1;
	}		
100%{ 
      transform: translate(0,0);
	 opacity:0;
	}	
	
	
				   }
				   
@keyframes medio  {	
0% {
		
	 width:200px;
	 transform: translate(50px,0);
	 opacity:0;
	}
50% {
	  transform: translate(0,0);
	 opacity:1;
	}	
75%{ 
 
     transform: translate(0,-50px);
	 opacity:1;
	}			
100%{ 
      transform:translate(0,0);
	 opacity:0;
	}	

	
				   }
@keyframes abajo  {	
0% {
		
	 width:200px;
	 transform: translate(-50px,0);
	 opacity:0;
	}
50% {
	  transform: translate(0,0);
	 opacity:1;
	}	
75%{ 
	
    transform: translate(0,-50px);
	opacity:1;
	}		
		
100%{ 
      transform: translate(0,0);
	 opacity:0;
	}	

#cajalienzo{
 width:100px;
    height: 200px;
 margin: -40px;
}